#cloud-config
users:
  - name: ${ssh_user}
    groups: sudo
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh-authorized-keys:
      - ${ssh_id}
timezone: Europe/Moscow
# package_update: true
# package_upgrade: true
# packages:
#   - curl
#   - openssh-server
#   - ca-certificates
#   - gnupg