filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/nginx/access.log
  fields:
    document_type: nginx-access

- type: log
  enabled: true
  paths:
    - /var/log/nginx/error.log
  fields:
    document_type: nginx-error


filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false


setup.template.settings:
  index.number_of_shards: 1

output.logstash:
  hosts: ["{{ lookup('ansible.builtin.env', 'INTERNAL_IP_VM5_ELASTICSEARCH') }}"]


processors:
- add_host_metadata:
    when.not.contains.tags: forwarded
  